<%- include("navbar") -%>

<div role="main" class="container">
  <br/><br/>
  <div class="text-success text-center">
    <h2>Welcome to the landing page of Jason's employees</h2>
    <div>
      <p>From this page you can access vital employee records.  Unsecured of course!</p>
    </div>
  </div>
</div>

<%- include("footer") -%>