<%- include("header") -%>

<div role="main" class="container">
  <br/><br/>
  <div class="text-success text-center">
    <h2>Welcome to the <%= message %></h2>
  </div>
</div>

<%- include("footer") -%>